<!DOCTYPE html>
<html lang="en">
    <header>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Astorya | {{page_title}}</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
        <script src="/static/script.js" type="text/javascript"></script>
    </header>

    <body>
        <div class="nav">
            <a href="/index">Astorya</a>
            <a href="/about">About</a>
            <a href="/explore">Explore</a>
            <a href="/tell-your-story">Tell Your Story</a>
        </div>

        <section>
            {% block title %}
            {% endblock %}
        </section>

        <section>
            {% block content %}
            {% endblock %}
        </section>
    </body>

</html>
