{% extends '_base.html' %}

{% block body_attrs %} onload="onAboutLoad();" {% endblock %}

{% block title %}

<section class="about-top">
    <h1>My Story</h1>
    <button aria-label="Scroll down to content" class="down-button bottom-of-page"
        onClick="document.getElementById('about-container').scrollIntoView();"><i
            class="fa-solid fa-chevron-down fa-4x"></i></button>
</section>

{% endblock %}

{% block content %}
<section id="about-container">
    <div class="about-left">
        <h2 class="about-heading-peach">About the Project</h2>
        <p class="about-content-left">
            Astorya is a space for stories, a place where people can express themselves and get a glimpse into the lives
            of others. It employs the power of storytelling to be what visitors need it to be, whether that is an outlet
            for people who has something to share, a way to feel not so alone in the world, an opportunity for
            reflection and empowerment, or a place to inform and learn more about people from all walks of life.
        </p>
    </div>
    <div class="about-right">
        <h2 class="about-heading-green">So Why Astorya?</h2>
        <p class="about-content-right">The name Astorya is a combination of "story" and Asteria, the Greek goddess of
            falling
            stars. The thought of stars many light years apart coming together to create a stunning meteor shower
            reminded me of what I hope to do with this project, bring a collection of anonymous stories from unknown
            origins
            together for an
            great experience for all.</p>
    </div>
    <div class="about-left">
        <h2 class="about-heading-peach">About Me</h2>
        <p class="about-content-left">Hi, I'm Jennifer. I'm a junior double majoring in Computer Science and Digital
            Narrative and Interactive Design (DNID) at the University of Pittsburgh. This project was created for the
            DNID Capstone. If you have any questions or would like to chat, feel free to email me at <a
                href="mailto: jez38@pitt.edu">jez38@pitt.edu</a>!
        </p>
    </div>

</section>
{% endblock %}