{% extends '_base.html' %}

{% block body_attrs %} onload="onExploreLoad({{stories|length}}, {{filters}});" {% endblock %}

{% block title %}

<section class="explore-top">
    <h1>Stories for <span class="typed">You</span></h1>
    <h2 style="display: none;"></h2>
    <h3 style="display: none;"></h3>
    <button aria-label="Scroll down to content" class="down-button bottom-of-page"
        onClick="document.getElementById('filter').scrollIntoView();"><i
            class="fa-solid fa-chevron-down fa-4x"></i></button>
</section>

{% endblock %}

{% block content %}

<section class="filter" id="filter">

    <div id="line">

        <div>
            <label>Add Filters: </label>
            <input id="tag-input" list="existing-tags" name="explore-tags" id="explore-tags" onchange="addTag(this)">
            <datalist id="existing-tags">
                {% for tag in tags %}
                <option value="{{tag}}">
                    {% endfor %}
            </datalist>
            <button class="small-button" onclick=" addTag(this)">Add</button>
            <button class="filter-button" onclick="onFilterSubmit()">Filter</button>
        </div>
        <br>
        <span id="tags"></span>
    </div>
</section>

{% with page='explore', stories=stories %}
{% include 'story.html' %}
{% endwith %}

<div class="clear previews">
    {% for i in range(stories|length) %}
    <button class="preview" id="preview{{i}}" onclick="showStory({{i}})">{{stories[i].title}}</button>
    {% endfor %}
</div>

<div class="page-navigation">
    <button class="page-arrow" id="page-arrow-left" onclick="onClickPageArrow('left')"><i
            class="fa-solid fa-chevron-left"></i></button>
    <select id="page-select" onchange="onPageSelected()">
        {% if stories|length == 0 %}
        <option value="{{1}}">Page 1</option>
        {% else %}
        {% for i in range((stories|length / 10)|round(0, 'ceil')|int) %}
        <option value="{{i+1}}">Page {{i+1}}</option>
        {% endfor %}
        {% endif %}
    </select>
    <button class="page-arrow" id="page-arrow-right" onclick="onClickPageArrow('right')"><i
            class="fa-solid fa-chevron-right"></i></button>
</div>

{% endblock %}