{% extends '_base.html' %}

{% block body_attrs %} onload="onIndexLoad();" {% endblock %}

{% block title %}

<section class="home-top">
    <div class="home-text">
        <h2>Everyone has a story</h2>
        <h1>What's Yours?</h1>
        <button class="peach-button read-todays-stories"
            onClick="document.getElementById('todays-stories-info').scrollIntoView();">
            <i class="fa-solid fa-angles-down"></i>
            Read Today's Stories
        </button>
    </div>

    <div class="home-image">
        <img id="writing-clipart" src="/static/assets/cropped-writing-clipart.png" alt="clipart of two people writing">
    </div>
</section>

{% endblock %}

{% block content %}

<section class="todays-stories-info" id="todays-stories-info">
    <h3>Today's Stories</h3>
    <p>Read five new stories every day. <br /> Randomly picked, just for you.</p>
</section>

{% with page='index', stories=stories %}
{% include 'story.html' %}
{% endwith %}

<div class="clear dots">
    <span class="dot" id="dot0"></span>
    <span class="dot" id="dot1"></span>
    <span class="dot" id="dot2"></span>
    <span class="dot" id="dot3"></span>
    <span class="dot" id="dot4"></span>
</div>

<div class="clear home-buttons">
    <button class="peach-button read-more-button" onclick="location.href='/explore'">
        <i class="fa-solid fa-book-open"></i>
        Read More!
    </button>
    <br />
    <button class="green-button tell-story-button" onclick="location.href='/tell-your-story'">
        <i class=" fa-solid fa-pencil"></i>
        Tell Your Story!
    </button>
</div>

{% endblock %}