<!DOCTYPE html>
<html lang="en">

<body>

    <section class="story-container">
        <img src="/static/assets/rope-with-clothespin.png" alt="a clothespin on a rope">

        <div class="story-area">
            <div class="column arrow left-arrow">
                <button><i class="fa-solid fa-chevron-left fa-5x"></i></button>
            </div>
            <div class="column story-page">stuff</div>
            <div class="column arrow right-arrow">
                <button><i class="fa-solid fa-chevron-right fa-5x"></i></button>
            </div>
        </div>
    </section>


</body>

</html>


<!-- <p>Story template here</p>
<p>{{text}}</p> -->