{% extends '_base.html' %}

{% block body_attrs %} onload="onTellStoryLoad(); createStars();" {% endblock %}

{% block title %}

<section class="tell-story-top">
    <h1>Tell Your Story</h1>
    <!-- <h2>What would you like to share?</h2> -->
    <!-- <div class="bottom-of-page text-center"> -->
    <div class="random-prompts"><span id="ideas">Need some ideas?</span> <button aria-label="Get random prompt"
            class="small-button" onclick="ideasClick()"><i class="fa-solid fa-shuffle"></i></button></div>
    <button aria-label="Scroll down to content" class="down-button bottom-of-page"
        onClick="document.getElementById('story-container').scrollIntoView();"><i
            class="fa-solid fa-chevron-down fa-4x"></i></button>
    <!-- </div> -->
</section>

{% endblock %}

{% block content %}

{% with page='write', status=status%}
{% include 'story.html' %}
{% endwith %}

{% endblock %}